*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 body{
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    

 }
 .container{
   width: 100px;
   height: 100px;
   color:rgb(8, 8, 8);
    
 }
 

